<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magepow_search>
            <source_option>
                <attribute_search>
                    <item>
                        <title></title>
                        <attribute></attribute>
                    </item>
                </attribute_search>
            </source_option>
        </magepow_search>
    </default>
</config>
